@media screen and (max-width: 768px) {
    .navbar {
        text-align: center;
        font-size: 22px;
        margin: 15px 0;
    }
   
    .container {
        width: 90%;
        padding-top: 50px;
    }
    
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5px;
    }

    .home-content {
        width: 90%;
    }

    .home-content h1,
    .home-content h3,
    .home-content p {
        font-size: 100%;
        margin-top: 10px;
    }

    .btn {
        margin-top: 10px;
    }

    .home-sci {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

    }

    /* .home-img {
        margin-top: 20px;
        width: 90%;
        margin: auto;
        float: none;
    }

    .home-img img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    } */
    .home-img {
        float: none;
        width: 90%;
        margin: 40px 0;
        margin-bottom: 40px;
        border: 200px;
    }

    .home-image img {
        width: 90%;
        height: auto;
        display: block;
        margin: auto;
        
    }
}
